*.o
*.so
*.dynlib
*.core

.vscode/*
*.dSYM/
bin/*
tests/tests
example
example_ssl
example_websocket
example_template
example_rate_limit
example_compression
example_metrics
debug_build

libpapago.dylib
libpapago.so
libpapago.a

server.crt
server.key
