*.o
*.so
*.dynlib
*.core

.vscode/*
*.dSYM/
bin/*
tests/tests

example
example_ssl
example_websocket
example_template
example_rate_limit
example_compression
example_metrics
example_streaming
example_embedded
example_form
example_logger_middleware
example_wsclient
debug_build

libpapago.dylib
libpapago_wsc.dylib
libpapago.so
libpapago_wsc.so
libpapago.a

server.crt
server.key

*.mp*
